* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container 1 */
.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: 1px black solid;
    background-color: cadetblue;
    height: 100vh;
    color: white;
    align-items: flex-start;
    justify-content: space-around;
}

.boxA {
    height: 100px;
    border: 1px white solid;
    padding: 40px;
    margin : 10px 0;
}

.box1 {
    background-color: green;
    text-align: center;
}

.box2 {
    background-color: blue;
    text-align: center;
}

.box3 {
    background-color: red;
    text-align: center;
}



