* {
    margin: 0;
    padding: 0;
}

table {
    margin-top: 50px;
    margin-left: 6%;
    border: 5px solid turquoise;
}

th {
    column-span: 6;
    align-items: center;
}

.name {
    text-align: center;
    font-weight: bold;
}
